# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env

# Logs
*.log

*.mp4

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
